.background1{
	background-color: rgb(189, 214, 239);
	height: 96vh;
	width: 100vw;
	background-position: relative;
	padding-top: 1px;
	background-image: url('../../images/startuplabs.png');
	background-repeat: no-repeat;
	background-size: 10vw;	
	background-position: 7% 10%;
}

.love{
	color: white;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5vh;
}


.heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  top: 6px;
}

.be a{
	color: white;
	transition: 0.5s;
	cursor: pointer;
}

.be a:hover{
	color: rgb(41, 72, 115);
}

.words{
	margin: 10vh auto;
	margin-bottom: 5vh;
	text-align: center;
	font-size: 10em;
	font-weight: bold;
	color: rgb(240, 118, 143);
	animation: floating 1.75s ease-in-out infinite;
	cursor: default;
}

@keyframes floating {
    0% {text-shadow: 1px 1px 1px gray;}
    50% {text-shadow: 5px 5px 5px gray;}
    100% {text-shadow: 1px 1px 1px gray;}
}

.apply_button{
	width: max-content;
	padding: 1em 2em;
	color: white;
	text-align: center;
	margin: auto auto;
	font-size: 2em;
	font-weight: bold;
	transition: 1s;
	background-color: rgb(240, 118, 143);
}

a{ 
	color: white; 
	text-decoration: none;
}

.apply_button:hover{
	box-shadow: 0 25px 15px 0px gray;
	transform: translateY(-26px);
	background-color: purple;
	cursor: pointer;
}


@media only screen and (max-width: 1000px) {
   .words { 
      font-size: 7em; 
   }
   .apply_button{
   	 font-size: 2em
   }

}
@media only screen and (max-width: 580px) {
   .words { 
      margin-top: 20vh;
      font-size: 5em; 
   }
   .apply_button{
   	  margin-top: 10vh;
   	  font-size: 1.4em
   }
   .background1{
	   background-size: 20vw;
   }
}
